<div class="umb umb-page">
    <div class="ui container-fluid">
        {% if plugin_is_auth == true %}
            {% include 'block/main_nav.twig' %}
            {% include 'block/main_dashboard.twig' %}
        {% elseif plugin_is_auth == false %}
            {% include 'block/noauth_dashboard.twig' %}
        {% endif %}
    </div>
</div>