<div class="umb umb-page">
    <div class="ui container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="ui menu umb">
                    <div class="header item">
                        Umbrella
                    </div>
                    <a class="item">
                        About Us
                    </a>
                    <a class="item">
                        Jobs
                    </a>
                    <a class="item">
                        Locations
                    </a>
                </div>
            </div>
        </div>
        <div class="row umb mt-20">
            <div class="col-md-2">
                <div class="ui vertical fluid tabular menu" id="umb_nav_dashboard">
                    <a class="item active" data-tab="teste1">
                        Bio
                    </a>
                    <a class="item" data-tab="teste2">
                        Pics
                    </a>
                    <a class="item" data-tab="teste3">
                        Companies
                    </a>
                    <a class="item">
                        Links
                    </a>
                </div>
            </div>
            <div class="segment col-md-10">
                <div class="ui segment tab active" data-tab="teste1">
                    This is an stretched grid column. This segment will always match the tab height
                </div>
                <div class="ui segment tab" data-tab="teste2">
                    <h4>foi</h4>
                </div>
                <div class="ui segment tab" data-tab="teste3">
                    <h4>trezs</h4>
                </div>
            </div>
        </div>
    </div>
</div>